.recipe {
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0.2rem;
    box-shadow: 3px 4px 1px rgb(197, 197, 197);
  }
  
.recipe__title {
  display: block;
  text-align: center;
  color: rgb(68, 68, 68);
  background-color: #ffffff;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.recipe__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

.recipe-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.recipe:hover .recipe-desc {
  opacity: 1;
  height: 83%;
}

