.navi {
    padding-left: 1rem;
    align-items: center;
    box-sizing: border-box;
    height: 3rem;
    border-top: 1px solid rgb(255, 255, 255);;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0px 5px gray;
}

.navi h2 {
    margin-top: 6px;
    color:rgb(255, 87, 58);
}


